<h1 class="text-center mt-3">Liste des Food Trucks</h1>

<div class="d-flex justify-content-end mb-3">
  <a class="me-3 bg-success bg-gradient text-white" [routerLink]="['create']" routerLinkActive="active" mat-raised-button>
    <mat-icon>add</mat-icon>
  </a>
</div>

<div *ngIf="dataSource" class="mat-elevation-z8">
  <table class="w-100" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Food Truck </th>
      <td class="text-center" mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
      <td class="text-center" mat-cell *matCellDef="let row">
        <a mat-button (click)="onDelete(row.id)">
          <mat-icon class="text-danger h4 cursor-pointer" >delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
