<div class="container mt-3">
  <h1 class="text-center">Ajouter une nouvelle réservation</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Choisir une date</mat-label>
          <input formControlName="bookedOn" matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Sélectionner un Food Truck</mat-label>
          <mat-select formControlName="foodTruck">
            <mat-option *ngFor="let foodTruck of foodTruckList" [value]="foodTruck.id">{{ foodTruck.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 mt-3">
        <button class="w-100" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Ajouter</button>
      </div>
    </div>
  </form>
</div>
