<app-loader *ngIf="isLoading"></app-loader>
<mat-toolbar class="d-flex justify-content-center" color="primary">
  <a class="me-3 text-white" [routerLink]="['reservations']" routerLinkActive="active" mat-button>Réservations</a>
  <a class="text-white" [routerLink]="['food-trucks']" routerLinkActive="active" mat-button>Food Trucks</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
