<div class="container mt-3">
  <h1 class="text-center">Ajouter un nouveau Food Truck</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Nom du Food Truck</mat-label>
          <input matInput formControlName="name">
          <mat-error  *ngIf="form.controls.name.hasError('required')">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <button class="w-100" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Ajouter</button>
      </div>
    </div>
  </form>
</div>
