@import "~bootstrap";
@import "~@fortawesome/fontawesome-free";
@import "~notyf/notyf.min.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-sort-header-content{
  margin: auto;
}
